#nigger {background-color: #111111;
         text-align: center;
         font-family:sans-serif ;
         color: white;
         border-radius: 7px;}
#sec1 {border-radius: 5px;
         background-image:url(image2.jpg);
         color: white;
         animation-name: jeremayah;
         animation-duration: 5s;}
@keyframes jeremayah {
            from {background-image:url(image2.jpg);}
            to {background-image:url(image3.jpg);}
        from {color: white;}
        to {color: black;}}
#but1 { background-color: yellow;
                transition: 0.5s;
                cursor: pointer;
                border-radius: 25px;
                align-items: center;
                display: table;
                margin: auto;
            } 
#but1:hover {
            background-color: blue;
        }
 #a1 {color: black;
            display: table;
                margin: auto;
            }
#bomboclat {
                width: 100px;
                height: 100px;
                background-color: red;
                position: relative;
                animation-name: niggers;
                animation-duration: 1ms;
                animation-iteration-count: 4345343534;
                }
 @keyframes niggers {
                  0%   {background-color:red; left:0px; top:0px;}
                 25%  {background-color:yellow; left:450px; top:0px;}
                 50%  {background-color:blue; left:300px; top:100px;}
                 75%  {background-color:green; right:0px; top:300px;}
                100% {background-color:red; left:0px; top:0px;}
            }
#but2 {
       background-color: #111111;
       color: white; 
       border-radius: 5px;
       cursor: pointer;
}
#but3 {
    background-color: #111111;
    color: white; 
    border-radius: 5px;
    cursor: pointer;
}
#but4 {
    background-color: #111111;
    color: white; 
    border-radius: 5px;
    cursor: pointer;
}

#cont1 { 
    height: 266px;
    position: relative;
    border: 1px solid black;
    border-radius: 5px; 
  }
#post1 {
    margin: 0;
  position: absolute;
  top: 26.2%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);

}

#post2 {
    margin: 0;
  position: absolute;
  top: 26.2%;
  left: 43%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
#post3 {
    margin: 0;
  position: absolute;
  top: 26.2%;
  left: 80%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
