/*Sections yuh */


#sec1 {border-radius: 5px;
    background-image:url(image2.jpg);
    color: white;
    animation-name: jeremayah;
    animation-duration: 5s;}


/* Buttons yuh */


#but1 { background-color: yellow;
    transition: 0.5s;
    cursor: pointer;
    border-radius: 25px;
    align-items: center;
    display: table;
    margin: auto;
} 
#but1:hover {
       background-color: blue;
   }



#but2 {
  background-color: #111111;
  color: white; 
  border-radius: 5px;
  cursor: pointer;
}

#but3 {
background-color: #111111;
color: white; 
border-radius: 5px;
cursor: pointer;
}

#but4 {
background-color: #111111;
color: white; 
border-radius: 5px;
cursor: pointer;
}


/* Containers yuh */


#cont1 { 
height: 255px;
position: relative;
border: 1px solid black;
border-radius: 5px; 
}


/* Positions yuh */


#post1 {
margin: 0;
position: absolute;
top: 26.9%;
-ms-transform: translateY(-50%);
transform: translateY(-50%);

}

#post2 {
margin: 0;
position: absolute;
top: 26.9%;
left: 43%;
-ms-transform: translateY(-50%);
transform: translateY(-50%);
}

#post3 {
margin: 0;
position: absolute;
top: 26.9%;
left: 80%;
-ms-transform: translateY(-50%);
transform: translateY(-50%);
}


/* h1,h2,h3,h4,h5,h6 [this order] yuh */


#h11 {background-color: #111111;
    text-align: center;
    font-family:sans-serif ;
    color: white;
    border-radius: 7px;}


#h21 {font-family:sans-serif ;}

#h22 {font-family:sans-serif ;}


/* Links yuh */


#a1 {color: black;
    display: table;
        margin: auto;
    }


/* @keyframes AKA. Animations yuh */


@keyframes jeremayah {
    from {background-image:url(image2.jpg);}
    to {background-image:url(image3.jpg);}
from {color: white;}
to {color: black;}}

